
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
  }
  
  .shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .m-1 {
    margin: 20px; 
  }
  
  img.rounded-circle {
    border-radius: 50%;
  }
  
  .carousel-item img {
    max-width: 100%;
    height: auto;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .text-center {
    padding: 20px;
  }

  @media (max-width: 768px) {
    .col-lg {
      margin-bottom: 20px;
    }
  }
  