<div class="container">
  <div class="row">
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <! -- About me -- />
        <h2>About Me</h2>
        <img
          src="assets/IMG_20240908_134742.jpg"
          alt="Profile Pic"
          width="256"
          height="256"
          class="rounded-circle"
        />
        <p>
          I am Sithomola Mushe. I am currently an intern at CodeTribe completing
          my software Development cource
        </p>
      </div>
    </div>
    <! --Featured projects --/>
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Featured Projects</h2>
        <h4>{{ featuredProject.name }}</h4>
      </div>
      <carousel>
        <div *ngFor="let picture of featuredProject.pictures">
          <img
            [src]="picture"
            alt="{{ featuredProject.name }}"
            style="display: block; width: 100%"
          />
        </div>
      </carousel>
      <p class="mt-2">{{featuredProject.summary}}</p>
      <p>Visit the Portfolio secrion for more infromation</p>
    </div>
  </div>
</div>
